[Unit]
Description=my direct update client to update noip hostnames.
StartLimitIntervalSec=300
StartLimitBurst=10
OnFailure=unit-status-mail@%n.service

[Service]
Type=simple
EnvironmentFile=-/opt/directupdateclient/myduEnvironment.conf
ExecStart=/usr/bin/node /opt/directupdateclient/directupdateclient/main.js
RemainAfterExit=false
